.footer {
  background-color: grey;
  height: 10vh;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footer-icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem; 
  padding-top: .5rem;
}

.fas-purple {
  color: black;
}