.navbar {
  display: flex;
  background-color: black;
  height: 12vh;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}
.nav-logo {
  margin: 10px;
  font-size: 24px;
  margin-left: 10px;
}
.profile-add {
  display: flex;
}

.profile {
  margin: 5px;
}

.add-icon {
  margin: 5px;
}

.profile-pic {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.fas-white {
  color: white;
}
