.navbar {
  display: flex;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  width: 100vw;
}
.nav-logo {
  margin: 10px;
  font-size: 24px;
  margin-left: 10px;
}
.profile-add {
  display: flex;
}

.profile {
  margin: 5px;
}

.add-icon {
  margin: 5px;
  object-fit: cover;
}

.profile-pic {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.fas-white {
  color: white;
}

.fa-2x {
  font-size: 1.5em;
}

@media screen and (min-width: 1000px) {
  .navbar {
    padding: 2rem;
    align-items: center;
  }

  .profile-pic {
    width: 64px;
    height: 64px;
  }
  .profile > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .fa-2x {
    font-size: 2.75em;
  }
  .profile-add{

    align-items: center;
  }
}