.mytrips {
  margin-top: 15vh;
  border-style: solid 1px black;
  margin-bottom: 13vh;
  
}

@media screen and (min-width: 1000px) {
  .search-main {
    margin: 7rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
